<a href="https://colab.research.google.com/github/derek-shing/LAParking/blob/master/LAParking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Loading Parking space table

import requests
import json
import pandas as pd

In [0]:
endpoint = 'https://data.lacity.org/resource/s49e-q6j2.json'
data = requests.get(endpoint).json()

In [30]:
type(data)

list

In [0]:
df = pd.DataFrame(data)

In [33]:
df.head()

  :@computed_region_2dna_qi2s :@computed_region_k96s_3jcv  ...        stcl timelimit
0                          67                         564  ...  12P-3P Mon       2HR
1                          27                         904  ...         NaN       2HR
2                          60                         356  ...         NaN       2HR
3                          26                         462  ...         NaN       2HR
4                          76                         693  ...         NaN       4HR

[5 rows x 15 columns]